<!doctype html>
<!--[if lt IE 9]> <html class="no-js lt-ie9" lang="en" ng-app="ryanki1.Igweatheryeoman"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="igWeather"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Igweatheryeoman - Yet another amazing AngularJS app</title>
  <meta name="description" content="Yet another amazing AngularJS app">

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->

  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Set a shorter title for iOS6 devices when saved to home screen -->
  <meta name="apple-mobile-web-app-title" content="Igweatheryeoman">

  <!-- Properties for Google+ snippets -->
  <meta property="og:title" content="Igweatheryeoman">
  <meta property="og:description" content="Yet another amazing AngularJS app">
  <meta property="og:image" content="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png">

  <!-- Author of this application -->
  <link rel="author" href="https://github.com/ryanki1"> 
  <link rel="icon" href="http://angularjs.org/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="http://angularjs.org/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="styles/main.min.css">

</head>

<body>
    <form id="pageContainer" class="form well well-lg" ng-controller="landingCtrl">
        <div class="row">
            <h1>{{title}}</h1>
        </div>
        <div class="row">
            <select class="pl0 col-sm-6 col-md-3" ng-model="city" ng-options="city.name for city in cities | orderBy:'main.temp':tempDesc">
                <option value="">
                    Please select a city
                </option>           
            </select>
            <div class="col-sm-6 col-md-3 mlminus15px form-group">
                <label for="tempDescCheckbox">Sort Cities by Temperature, highest first</label>
                <input id="tempDescCheckbox" type="checkbox" ng-model="tempDesc" ng-init="tempDesc=true"/>
            </div>
        </div>
        <div class="row details" ng-if="city">
            <p>City: {{city.name}}</p>
            <p>Temperature: {{kelvinToCelsius(city.main.temp)}}</span>°C</p>
            <p>Range: {{kelvinToCelsius(city.main.temp_min)}} °C to {{kelvinToCelsius(city.main.temp_max)}} °C</p>
            <p>Longitude: {{lonlat(city.coord.lon)}} °{{city.coord.lon < 0 ? "W" : "E"}}</p>
            <p>Latitude: {{lonlat(city.coord.lat)}} °{{city.coord.lat < 0 ? "S" : "N"}}</p>
            <img ng-src="{{'http://openweathermap.org/img/w/' + city.weather[0].icon + '.png'}}" alt="Weather icon"/>
            <p>Conditions: {{city.weather[0].description}}</p>
            <p>Atmospheric Pressure: {{city.main.pressure}} hPa</p>
            <p>Humidity: {{city.main.humidity}} %</p>
        </div>
    </form>
    <script src="scripts/components.min.js"></script>

    <script src="scripts/app.min.js"></script>
</body>

</html>
